@page
@model Pages.Admin.Holders.IndexModel

<div class="wrapper-content">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Добавить холдер</h5>
                </div>
                <div class="ibox-content">
                    <form id="add-holder-form">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Local Code
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="@Model.HolderToAdd.LocalCode" data-mask="9_9_9_9" required=""/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Holder Code
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="@Model.HolderToAdd.Code" data-mask="99999999" required=""/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Owner Name
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="@Model.HolderToAdd.OwnerName"  required=""/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Owner Address
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="@Model.HolderToAdd.OwnerAddress"  required=""/>
                            </div>
                        </div>
                        <button id="add-holder-submit-button" type="submit" class="btn btn-sm btn-success ladda-button">Добавить!</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Хранилища</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">
                            <table id="holders-table" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>LocalCode</th>
                                        <th>Code</th>
                                        <th>OwnerName</th>
                                        <th>OwnerAddress</th>
                                        <th>Code</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{var i = 0;}
                                    @foreach (var holder in Model.Holders)
                                    {
                                        <tr id="@holder.Id">
                                            <td>@holder.Id</td>
                                            <td>@holder.LocalCode</td>
                                            <td>@holder.Code</td>
                                            <td>@holder.OwnerName</td>
                                            <td>@holder.OwnerAddress</td>
                                            <td>
                                                <button class="button btn-xs btn-danger" onclick="deleteHolder(@holder.Id)">x</button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

        $(document).ready(function(){
            $('#holders-table').DataTable({
                pageLength: 10,
                responsive: true,
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    function deleteHolder(idHolder) {
        var token = $('input[name="__RequestVerificationToken"]').val()
        var request = $.ajax({
            url: "/admin/holders",
            type: "DELETE",
            dataType: "json",
            data: {
                __RequestVerificationToken: token,
                id: idHolder
            },
            success: function (response) {
                switch (response.code) {
                    case 200:
                        alert("Холдер удален");
                        $("#" + idHolder).remove();
                        break;
                    default:
                        alert(response.message);
                        break;
                }
            }
        });
    }

</script>