@page
@model Pages.Costumer.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
@Html.AntiForgeryToken()

<div class="row m-b-lg">
    <div class="col-12">
        <div class="col-xs-2">
            <img src="~/css/patterns/pin.png" class="left" style="width: 18px; height: 26px;" />
        </div>
        <div class="col-xs-10">
            <p class="pb-text-17-bold">@Model.Costumer.Name</p>
            <span class="pb-text-13">Баллы </span><span class="pb-text-13-bold">229</span>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-12">
            <div class="ibox pb-style">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="~/css/patterns/personal_data.png" style="width: 15px; height: 16px; margin-top: 4px;" />
                    </div>
                    <div class="col-xs-8">
                        <span class="pb-text-17-normal">Личные данные</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
                <div class="ibox-content pb-style">
                    <form id="costumer-data-form" method="PUT">
                        <input type="hidden" asp-for="Costumer.Id" value="@Model.Costumer.Id"/>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input asp-for="Costumer.Name" class="form-control pb-style" value="@Model.Costumer.Name" placeholder="Имя пользователя"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input asp-for="Costumer.Phone" class="form-control pb-style" value="@Model.Costumer.Phone" data-mask="+7 (999) 999 99 99" disabled/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input asp-for="Costumer.Email" class="form-control pb-style" value="@Model.Costumer.Email" placeholder="E-mail"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <input type="submit" id="change-costumer-data-button" class="form-control button btn-block btn-success ladda-button pb-button-style" value="Изменить данные"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="ibox pb-style">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="~/css/patterns/history.png" style="width: 15px; height: 16px; margin-top: 4px;" />
                    </div>
                    <div class="col-xs-8">
                        <span class="pb-text-17-normal">История</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-style">
                    @foreach (var session in Model.Sessions)
                    {
                        <div class="row">
                            <div class="col-xs-7">
                                <p class="pb-text-orange-style m-b-xxs">@session.Powerbank.Holder.OwnerName</p>
                                <p class="pb-text-grey-style">@session.Powerbank.Holder.OwnerAddress</p>
                            </div>
                            <div class="col-xs-5 right">
                                <p class="pb-text-orange-style m-b-xxs">@session.SessionDuration</p>
                                <p class="pb-text-grey-style">99р</p>
                            </div>
                        </div>
                        <hr class="pb-hr-grey-style" />
                    }    
            </div>
                </div>
        </div>

        <div class="col-12">
            <div class="ibox pb-style">
            <div class="ibox-title pb-style">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="~/css/patterns/cards.png" style="width: 15px; height: 16px; margin-top: 4px;" />
                    </div>
                    <div class="col-xs-8">
                        <span class="pb-text-17-normal">Счёт</span>
                    </div>
                    <div class="col-xs-2">
                        <a class="collapse-link right" style="padding-bottom: 10px; color: #16bdf0 !important">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
                <div class="ibox-content pb-style">
                    <div class="row col-12">
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-10">
                            <a class="btn btn-primary-orange btn-block pb-button-shadow" style="height: 82px; padding-top: 25px" href='@Url.Page("/costumer/addcard")'>добавить карту</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
