@page
@model Pages.Costumer.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
    <h1>Профиль</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox pb-style" >
                <div class="ibox-title pb-style">
                    <h5>Личные данные</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content pb-style">
                    <form id="costumer-data-form" method="PUT">
                        <input type="hidden" asp-for="Costumer.Id" value="@Model.Costumer.Id"/>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input asp-for="Costumer.Name" class="form-control pb-style" value="@Model.Costumer.Name" placeholder="Имя пользователя"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input asp-for="Costumer.Phone" class="form-control pb-style" value="@Model.Costumer.Phone" data-mask="+7 (999) 999 99 99" disabled/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input asp-for="Costumer.Email" class="form-control pb-style" value="@Model.Costumer.Email" placeholder="E-mail"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <input type="submit" id="change-costumer-data-button" class="form-control button btn-block btn-success ladda-button pb-button-style" value="Изменить данные"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="ibox pb-style">
                <div class="ibox-title pb-style">
                    <h5>История</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content pb-style">
                        @foreach (var session in Model.Sessions)
                        {
                            <div class="row">
                                <div class="col-xs-8">
                                    <p class="pb-text-orange-style m-b-xxs">@session.Powerbank.Holder.OwnerName</p>
                                    <p class="pb-text-grey-style">@session.Powerbank.Holder.OwnerAddress</p>
                                </div>
                                <div class="col-xs-4 right">
                                    <p class="pb-text-orange-style m-b-xxs">@session.SessionDuration</p>
                                    <p class="pb-text-grey-style">99р</p>
                                </div>
                            </div>
                            <hr class="pb-hr-grey-style" />
                        }
                        
                </div>
            </div>
        </div>
        
        
    </div>

