@page
@model Costumer.RegistrationModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="middle-box">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="text-center m-t-lg m-b-lg">
            <p class="p-power-now-bold">АВТОРИЗАЦИЯ</p>
        </div>
    </div>

    <div class="col-md-12 m-l-md m-r-md" id="phone-block">
        <form method="POST" id="enter-phone-form">
            <input type="tel" id="phone-input" asp-for="@Model.Costumer.Phone"
                       class="form-control pb-input-style" placeholder="Номер телефона" required=""
                       data-mask="+7 (999) 999 99 99">
            <button type="submit" id="phone-submit"
                    class="ladda-button btn btn-primary-orange full-width m-b m-t-lg pb-button-shadow"
                    data-style="zoom-in">
                Получить SMS
            </button>
        </form>
    </div>

    <div class="col-md-12 m-l-md m-r-md" id="phone-code-block" style="display: none;">
        <form method="POST" id="enter-phone-code-form">
            <span class="text-center text-danger">@Model.ErrorMessage</span>
            <input type="tel" id="phone-verification-input" asp-for="@Model.Costumer.Phone"
                   class="form-control hidden pb-input-style" placeholder="Code" required=""
                   style="display: none;">
            <input type="text" asp-for="@Model.VerificationCode"
                   class="form-control pb-input-style" placeholder="Code" required="">
            <button type="submit" id="phone-code-submit"
                    class="ladda-button btn btn-primary-orange full-width m-b m-t-lg pb-button-shadow"
                    data-style="zoom-in">
                Проверить код
            </button>
        </form>
    </div>
</div>