@page
@model Costumer.RegistrationModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function inInputNumber(evt) {
        var ch = String.fromCharCode(evt.which);
        if (!(/[0-9]/.test(ch))) {
            evt.preventDefault();
        }
    }

    $(document).ready(function () {
        $(".c1").on("keyup", function () {
            if ($(this).val().length >= parseInt($(this).attr("maxlength"), 10))
                $(".c2").focus();
        })
        $(".c2").on("keyup", function () {
            if ($(this).val().length == 0) {
                $(".c1").focus();
                return;
            }
            if ($(this).val().length >= parseInt($(this).attr("maxlength"), 10))
                $(".c3").focus();
        })
        $(".c3").on("keyup", function () {
            if ($(this).val().length == 0) {
                $(".c2").focus();
                return;
            }
            if ($(this).val().length >= parseInt($(this).attr("maxlength"), 10))
                $(".c4").focus();
        })
        $(".c4").on("keyup", function () {
            if ($(this).val().length == 0) {
                $(".c3").focus();
                return;
            }
        })
    });
</script>

<div class="row">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10" id="phone-block">
            <form method="POST" id="enter-phone-form" autocomplete="off">
                <input type="tel" id="phone-input" asp-for="@Model.Costumer.Phone"
                       class="form-control pb-input-style" placeholder="Номер телефона" required=""
                       data-mask="+7 (999) 999 99 99">
                <button type="submit" id="phone-submit"
                        class="ladda-button btn btn-primary-orange full-width m-b m-t-lg pb-button-shadow"
                        data-style="zoom-in">
                    Подтвердить
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10" id="phone-code-block" style="display: none;">
            <form method="POST" id="enter-phone-code-form" autocomplete="off">
                <span class="text-center text-danger">@Model.ErrorMessage</span>
                <input type="tel" id="phone-verification-input" asp-for="@Model.Costumer.Phone"
                       class="form-control hidden pb-input-style" placeholder="Code" required=""
                       style="display: none;">
                <div class="row col-12">
                    <div class="col-xs-3">
                        <input type="text" asp-for="@Model.C1" maxLength="1" size="1" min="0" max="9" pattern="[0-9]"
                               class="form-control pb-input-code-style c1" placeholder="X" required=""
                               onkeypress="inInputNumber(event)" autocomplete="off">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" asp-for="@Model.C2" maxLength="1" size="1" min="0" max="9" pattern="[0-9]"
                               class="form-control pb-input-code-style c2" placeholder="X" required=""
                               onkeypress="inInputNumber(event)" autocomplete="off">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" asp-for="@Model.C3" maxLength="1" size="1" min="0" max="9" pattern="[0-9]"
                               class="form-control pb-input-code-style c3" placeholder="X" required=""
                               onkeypress="inInputNumber(event)" autocomplete="off">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" asp-for="@Model.C4" maxLength="1" size="1" min="0" max="9" pattern="[0-9]"
                               class="form-control pb-input-code-style c4" placeholder="X" required=""
                               onkeypress="inInputNumber(event)" autocomplete="off">
                    </div>
                </div>

                <button type="submit" id="phone-code-submit"
                        class="ladda-button btn btn-primary-orange full-width m-b m-t-lg pb-button-shadow"
                        data-style="zoom-in">
                    Продолжить
                </button>
            </form>
        </div>
    </div>
</div>
