<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <partial name="Shared/_CssImports" />
    @*Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@
</head>
<body class="canvas-menu md-skin" style="background-color: #1a1e20;">

    <partial name="Shared/_JsImports" />

    <div id="wrapper">
        <partial name="Shared/_SiteNavigation" />


        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom" id="top-header">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div style="position:absolute; margin-top: 10px">
                        <a style="margin-left: 30px;" href='@Url.Page("/index")'>
                            <img src="~/css/patterns/home.png"/>
                        </a>
                    </div>
                    <div class="navbar-header nav-header-okey">
                        <a class="navbar-minimalize minimalize-styl-2 btn" href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <p class="page-title text-center">@ViewData["Title"]</p>
                </nav>

            </div>


            <!-- Main view  -->
            <div class="wrapper wrapper-content  animated fadeInDown
                            col-lg-4 col-lg-offset-4
                            col-md-4 col-md-offset-4
                            col-sm-4 col-sm-offset-4
                            col-xs-8 col-xs-offset-2 container" id="content">
                <div class="row justify-content-md-center">
                    @RenderBody()
                </div>
            </div>
            <!-- Footer -->
            <div class="row">
                <partial name="Shared/_Footer" />
            </div>
        </div>
        @RenderSection("scripts", required: false)

        <script>$('body.canvas-menu .sidebar-collapse').slimScroll({
                height: '100%',
                railOpacity: 0.9
            });</script>

</body>
</html>