@model Admin.BaseAuthedPageModel
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <input type="submit" value="@Model.User.Login.ToUpper()[0]" class="btn btn-l btn-circle btn-success" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Model.User.Login</strong>
                            </span> <span class="text-muted text-xs block">Art Director @*<b class="caret"></b>*@</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    MD
                </div>
            </li>
            <li>
                <a href="@Url.Page("/Admin/Index")"><i class="fa fa-home"></i> <span class="nav-label">Главная</span> </a>
            </li>
            <li>
                <a href="@Url.Page("/Admin/Costumers/Index")"><i class="fa fa-male"></i> <span class="nav-label">Клиенты</span> </a>
            </li>
            <li>
                <a href="@Url.Page("/Admin/Holders/Index")"><i class="fa fa-cubes"></i> <span class="nav-label">Хранилища</span> </a>
            </li>
            <li>
                <a href="@Url.Page("/Admin/Powerbanks/Index")"><i class="fa fa-cube"></i> <span class="nav-label">Устройства</span> </a>
            </li>
            <li>
                <a href="@Url.Page("/Admin/ManualPayments/Index")"><i class="fa fa-bank"></i> <span class="nav-label">Ручное списание</span> </a>
            </li>
        </ul>
    </div>
</nav>