@model Pages.BaseAuthCostumerPage
    <nav class="navbar-default navbar-static-side fadeInDown" role="navigation">
        
        <div class="sidebar-collapse" id="navbar">
            <a class="close-canvas-menu"><i class="fa fa-bars"></i></a>
            <img src="~/css/patterns/person_icon.png" class="img-responsive" style="width: 32px; height: 32px; margin: 32px 0px 20px 12px;" />

            @if (Model.IsAuthorized())
            {
                <a class="pb-text-12-bold pb-orange-style" href="@Url.Page("/costumer/index")" style="margin: 0px 0px 0px 14px">@Model.GetName()</a>
                <form id="logout-form">
                    @Html.AntiForgeryToken()
                    <button type="submit" style="margin: 20px 0px 0px 8px; background-color: transparent; border-width: 0; color: #16bdf0 !important">Выйти</button>
                </form>
            }
            else
            {
                <a href="@Url.Page("/costumer/registration")" class="pb-text-12-bold pb-orange-style" style="margin: 0px 0px 0px 12px">Войти / регистрация</a>
            }

            <ul class="nav navbar-nav navbar-right" style="margin-top: 149px">
                <li>
                    <a class="m-l-sm" href="@Url.Page("/info/prices")">Тарифы</a>
                </li>
                <li>
                    <a class="m-l-sm" href="@Url.Page("/info/about")">Об устройстве</a>
                </li>
                <li>
                    <a class="m-l-sm" href="@Url.Page("/info/help")">Помощь</a>
                </li>
                <li>
                    <a class="m-l-sm" href="@Url.Page("/info/cooperation")">Сотрудничество</a>
                </li>
                @*@if (Model.IsAuthorized())
            {
                <li>
                    <a class="m-l-sm" href="@Url.Page("/costumer/index")">@Model.GetName()</a>
                </li>
                <li>
                    <form id="logout-form">
                        @Html.AntiForgeryToken()
                        <button class="btn btn-warning btn-sm m-l-lg" type="submit"><i class="fa fa-sign-out"></i> Log out</button>
                    </form>
                </li>

            }
            else
            {
                <li>
                    <a href="@Url.Page("/costumer/registration")"><i class="fa fa-sign-in"></i> Log in</a>
                </li>
            }*@
            </ul>
        </div>
    </nav>